* {
    margin: 0;
    padding: 0;
    font-family: amiko;
  }
  
  header, main, footer, nav, aside, section, div {
    display: block;
} 

header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 123px;
    background-color: #F2E9E9;
}
  
ul {
    list-style-type: none;
    display: flex;
}
  
li {
    line-height: 32px;
    font-weight: 400;
    font-size: 24px;
    margin-right: 18px;
    position: relative;
}
  
a{
    text-decoration: none;
    color: black;
}

header #ul1 li:nth-child(2) a:hover, header #ul1 li:nth-child(3) a:hover {
  color: rgb(255, 221, 0);
}
  
.selected {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 50%;
    top: -18px;
    transform: translateX(-50%);
    border-radius: 50%;
    background: #F72828;
  }

#wrapper1{
    margin: 0 auto;
    Width: 881px;
    margin-top: 91px;
    display: flex;
    Height: 624px;
}

.botoom-left {
    display: flex;
}
.bottom {
    display: flex;
}
.Left-side > h1 {
    letter-spacing: 15px;
    font-size: 72px;
    
}

.Left-side > p {

    font-size: 24px;
    font-weight:bold;
}

.Left-side {
    margin-top: 176px;    
}

#all-the-rectangles {
    display: flex;
    margin-left: 70px;
    
}

.rec1 {
  
    width: 75px;
    height: 23px;
    margin-bottom: 8px;
    background-color: #EBEF18;
    display: block;
}
.rec2 {
    width: 136px;
    height: 46px;
    margin-bottom: 11px;
    background-color: #EBEF18;
    display: block;
}
.rec3 {
    width: 134px;
    height: 404px;
    margin-bottom: 11px;
    background-color: #EBEF18;
    display: block;
}
.rec4 {
   
  
    width: 88px;
    height: 28px;
    margin-bottom: 11px;
    background-color: #EBEF18;
    display: block;
}

.botoom-rec5 {
    width: 25px;
    height: 26px;
    margin-right: 7px;
    margin-bottom: 11px;
    background-color: #EBEF18;
}
.botoom-rec6 {
    width: 25px;
    height: 26px;
    margin-bottom: 11px;
    background-color: #EBEF18;
}

.rec7 {
    width: 246px;
    height: 352px;
    margin-left: 15px;
    margin-bottom: 16px;
    display: block;
    background-color: #EBEF18; 
}
.mrec2 {
    width: 123px;
    height: 212px;
    margin-left: 15px;
    display: block;
    background-color: #EBEF18;
}



.rec8 {
    background-color: #EBEF18;
    display: block;
    width: 123px;
    height: 212px;
    margin-left: 15px;
}
.botoom-middle {
    display: flex;
}

.rec9 {
    background-color: #EBEF18;
    display: block;
    width: 55px;
    height: 105px;
    margin-left: 15px;
}

.rec10 {
    background-color: #EBEF18;
    display: block;
    width: 110px;
    height: 58px;
    margin-top: 7px;
    margin-left: 15px;
}

.rec11 {
    background-color: #EBEF18;
    display: block;
    width: 55px;
    height: 105px;
    position: absolute;
    left: 110px;
    bottom: 107px;
}

.left {
    position: relative;
}


.right-column {
    margin-left: 14px;
    position: relative;
}
.right-rectangle {
    position: absolute;
    bottom: 271px;
}
.rec12 {
    background-color: #EBEF18;
    display: block;
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
.rec13 {
    background-color: #EBEF18;
    display: block;
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
.rec14 {
    background-color: #EBEF18;
    display: block;
    width: 28px;
    height: 55px;
    margin-bottom: 11px;
}
.rec15 {
    background-color: #EBEF18;
    display: block;
    width: 28px;
    height: 198px;
}

.footer1{
    height: 41px;
    bottom: 0;
    background-color: #000000;
    
}
/**************layout2*******************************************88****/
#layout2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 1925px;
    width: 100%;
    

}
header #ul2 li:nth-child(1) a:hover, header #ul2 li:nth-child(3) a:hover {
    color: rgb(255, 221, 0);
  }

.grey-box{
   
    margin-bottom: 70px;
    width: 457px;
    height: 299px;
    background: #C4C4C4;
}
.column-left {
    display: flex;
    flex-direction: column;
    height: 1925px;
    margin: 119px 3.8194444% 0px 10.486111%;
    /*margin-top: 119px;*/
}

.column1-right {
    display: flex;
    flex-direction: column;
    margin-top: 287px;
    height: 1925px;    
}

.content2 {

    overflow: hidden;
    width: 88.26388%;
    height: 1983px;
    display: flex;
    align-content: center;
    margin-right: 10.486111%;
    justify-content: center;
}

.bunner {
    width: 169px;
    height: 1925px;
    background: #EBEF18;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;  
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    
}

.column1-right .grey-box:nth-child(5) {
   
    height: 197px;
    margin-bottom: 41px;
}


.bunner #box-black1 {
    position: absolute;
  height: 80px;
  width: 80px;
  left: 0;
  top: 119px;
  background-color: #000000;;
}


.bunner #box-white {
    position: absolute;
    height: 80px;
    width: 80px;
    right: 0px;
    top: 370px;
    border-radius: 0px;
    background-color: #FFFFFF;
}

.bunner #box-black2 {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 0px;
    top: 659px;
    border-radius: 0px;
    background-color: #000000;
}



#ul3{
    margin-top: 105px;
    margin-left: 38px;
}

.name a {
    color: #000000;
    text-align: center;
}

.name {
    width: 81px;
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 128px;
    text-align: center;
    
    
}

.black-rec{
    position: absolute;
    height: 80px;
    width: 80px;
    right: 24px;
    top: 21px;
    margin-bottom: 22px;
    border-radius: 0px;
    background-color: #000000;
}


.footer2 {
    width: 100%;
    height: 41px;
    bottom: 0;
    background: #000000;   
}
    
/****************layout 3*******************/
.header3 {
    width: 100%;
    height: 123px;
    background: #F2E9E9;
      
}

.nav_bg #ul3 li:nth-child(1) a:hover,.nav_bg #ul3 li:nth-child(2) a:hover {
  color: rgb(255, 221, 0);
}


#layout3 #wrapper3 {
    justify-content: space-between;
    flex-wrap: wrap;
}

#wrapper3 {
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
}

.nav_bg {
    width: 372px;
    height: 995px;
    background-color: #E5E5E5;
    display: flex;
    align-items: flex-start;
    
}

.boxes-layout3 {
    height: 995px;
    
}


.blue-rec {
    height: 995px;
    width: 112px;
    background: rgba(24, 71, 239, 0.3);
   
}

.yelow-rec { 
  
    width: 100%;
    height: 463px;
    left: 0px;
    top: 1118px;
    background: #EBEF18;
}

.footer3 {
    width: 100%;
    height: 41px;
    bottom: 0;
    background: #000000;   
}
    
@media(max-width:1000px){
    .header3 {
    width: 1440px;
    height: 123px;
    left: 0px;
    top: 0px;

    background:#F2E9E9;
      
    }

    #layout3 {
    width: 100%;
    height: 1292px;
    display: flex;
    flex-direction: column;
    } 

  .boxes-layout3{
    position: absolute;
    height: 105px;
    width: 100%;
    left: 0px;
    top: 123px;
    background-color: #E5E5E5;
  }
  
  .boxes-layout3 #ul3 {
    position: absolute;
    top: 45px;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    
    }

  .blue-rec {
    display: none;
    }

    .nav_bg #ul3 li:nth-child(1) a:hover, .nav_bg #ul3 li:nth-child(2) a:hover {
    color: rgb(255, 221, 0);
    }

    .selected {
        position: absolute;
        width: 14px;
        height: 14px;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background: #F72828;
      }
    

}